@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--light);
  border: none;
  outline: none;
}
@font-face {
  font-family: duck;
  src: url("font/Rubber-Duck.ttf");
}
:root {
  --primary: hsl(330, 91%, 34%);
  --light-primary: hsl(330, 91%, 49%);
  --secondary: hsl(283, 100%, 27%);
  --light-secondary: hsl(283, 100%, 50%);
  --dark-gray: hsl(0, 0%, 11%);
  --light-gray: hsl(0, 0%, 41%);
  --light: hsl(0, 0%, 100%);
}
/* custom scrollbar  */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 2rem;
}
::-webkit-scrollbar-track {
  background-color: var(--dark-gray);
}

body {
  background-color: var(--dark-gray);
  font-family: "Source Sans Pro", sans-serif;
}
html {
  font-size: clamp(6px, 8px, 12px);
  scroll-behavior: smooth;
}

/* theme code */

#theme {
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  display: flex;
  width: 200px;
  align-items: center;
  padding: 10px;
  justify-content: center;
  position: fixed;
  top: 100px;
  right: -250px;
  flex-direction: column;
  z-index: 8;
  background-color: var(--primary);
  backdrop-filter: blur(5px);
  border-radius: 5px 0 0 5px;
  font-weight: 300;
  transition: 0.3s;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px var(--primary);
}
#theme.active {
  right: 0;
}
#theme ul {
  /*background-color: #fff;
  */
  height: 300px;
  width: 250px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
#theme ul li {
  text-align: center;
  margin: 10px;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 50%;
}
#theme li span {
  text-align: center;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 0 0 100%;
  position: relative;
  box-shadow: 0 0 10px var(--secondary), 0 0 10px var(--dark-gray);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#theme .your-theme {
  padding: 10px;
  /* color: #fff; */
  width: 100%;
}
#theme .my-theme {
  padding: 10px;
  /* color: #fff; */
  width: 100%;
}
#theme .your-theme h2 {
  font-size: 1.6rem;
  display: block;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#theme .your-theme input {
  width: 100%;
  border: none;
  outline: none;
}

a:active,
a:hover {
  color: var(--primary);
}
.theme-text {
  color: var(--primary);
}
section {
  padding-top: 9rem;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* scrollToTop btn */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2rem; /* Place the button at the bottom of the page */
  right: 2rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: var(--light-gray); /* Set a background color */
  color: var(--light-primary); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1.5rem; /* Some padding */
  border-radius: 1rem; /* Rounded corners */
  font-size: 2.4rem; /* Increase font size */
}

#myBtn:hover {
  background-color: var(--dark-gray); /* Add a dark-grey background on hover */
}
/* header styling  */

.container {
  max-width: 1600px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: relative;
}
header.active {
  background-color: rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  backdrop-filter: blur(1rem) brightness(60%);
  width: 100%;
  z-index: 99;
}
header .logo {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  position: relative;
  font-family: duck;
}
.menu {
  font-size: 4rem;
}
.menu {
  display: none;
}
.logo::before {
  content: "";
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  transform: translate(-4.8rem, -5.5rem);
  z-index: -1;
  border-radius: 51% 89% 46% 54%;
  background-size: cover;
}
header nav ul {
  display: flex;
  gap: 4rem;
  font-size: 2rem;
}
header nav ul li a {
  display: inline-block;
  transition: all 300ms ease;
  position: relative;
  font-weight: 700;
}
/* intersecting styling */
.animate {
  opacity: 0.5;
  transform: translateY(30px);
  scale: 0.8;
}
.animate.animated {
  opacity: 1;
  transition-delay: 300ms;
  transform: translateY(0);
  scale: 1;
}
.typing {
  font-family: duck;
  letter-spacing: 2px;
  font-size: clamp(2rem, 8vw, 6rem);
}
/* hero section  */
.hero-page {
  display: flex;
  padding: 3rem 5rem;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.hero-page .hero-text {
  max-width: 62%;
  margin: auto;
  backdrop-filter: blur(10px);
}
.hero-text h1 {
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1.4;
}
.hero-text p {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s;
  background-color: var(--primary);
  margin-top: 3rem;
  border-radius: 3rem;
  box-shadow: 0 0 0 5px var(--primary), 0 -1px 0 2px var(--secondary);
  cursor: pointer;
}
.btn:hover {
  color: var(--light);
  background-color: unset;
}
.hero-image,
.hero-bubble {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-radius: 44% 56% 64% 36% / 73% 72% 28% 27%;
  background-size: cover;
  height: 45rem;
  width: 45rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.hero-bubble {
  position: absolute;
  bottom: -30%;
  z-index: -2;
  left: 3rem;
  width: 40rem;
  height: 30rem;
  opacity: 0.6;
  rotate: 34deg;
}
.hero-image::before,
.hero-bubble::before {
  content: "";
  position: absolute;
  top: 20%;
  right: 8%;
  z-index: -1;
  rotate: 20deg;
  border-radius: 44% 56% 64% 36% / 73% 72% 28% 27%;
  width: 5rem;
  height: 5rem;
  background-color: var(--primary);
  border: 2rem solid var(--dark-gray);
}
.hero-image::after,
.hero-bubble::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 20%;
  left: -2%;
  rotate: 120deg;
  border-radius: 44% 56% 64% 36% / 73% 72% 28% 27%;
  width: 5rem;
  height: 5rem;
  background-color: var(--secondary);
  border: 2rem solid var(--dark-gray);
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(2rem);
  margin-left: 10%;
}

/* my services  */
.hero-services,
.portfolio,
.contact-me {
  text-align: center;
  position: relative;
}
.hero-services .hero-text h1,
.portfolio .hero-text h1,
.contact-me .hero-text h1 {
  font-weight: 400;
  text-decoration: underline;
  font-variant: small-caps;
  text-transform: unset;
  font-family: duck;
  font-size: clamp(2rem, 10vw, 7rem);
  color: var(--light);
}
.hero-services .my-services {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-around;
  align-items: center;
}
.hero-services .my-services .service {
  flex: 1 1 30rem;
  text-align: center;
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--light-gray);
  backdrop-filter: blur(1rem);
  transition: all 400ms ease-in;
}
.service > div:not(:last-child) {
  margin-bottom: 2.4rem;
}
.service .icon {
  transition-delay: 400ms;
  width: 10rem;
  height: 10rem;
}
.service:hover {
  background-color: var(--light-primary);
  color: var(--light-secondary);
}
.service:hover .icon {
  margin-left: auto;
}
.service h2 {
  font-size: 2.4rem;
  color: var(--light-primary);
}
.service:hover h2 {
  color: var(--light);
}
.service p {
  font-size: 1.6rem;
  margin-top: -1rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}
.hero-services .hero-bubble {
  rotate: -180deg;
  right: 0;
  left: unset;
  bottom: -15rem;
  scale: 0.6;
  opacity: 0.3;
  background-image: radial-gradient(
    var(--light-primary) 30%,
    var(--light-secondary)
  );
}
/* project section */
.projects {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  overflow: hidden;
}

/* filter styling  */
.filter {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  position: relative;
}
.filter input {
  padding: 2rem;
  width: 80%;
  max-width: 45rem;
  border-radius: 2rem;
  background-color: transparent;
  outline: 0.3rem double var(--light-gray);
}
.filter .btn {
  margin-top: 0;
}
#searchResult {
  width: 100%;
  font-size: 2rem;
}
.project {
  flex: 0 1 45rem;
  margin: auto;
  overflow: hidden;
  height: 26rem;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(45deg, var(--primary), var(--secondary));
  border-radius: 1rem;
  transition: all 400ms ease-in;
}
.project:hover {
  transform: scale(0.9);
  z-index: 1;
  outline: 0.3rem dashed var(--light-gray);
}
.project .project-image {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 200ms ease-in;
}
.project .project-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all 200ms ease-in;
}
.project:hover .project-image {
  transform: translateY(-100%);
}
.project:hover .project-details {
  transform: translateY(0);
  padding: 2rem;
  position: relative;
}
.project .project-details h3 {
  font-size: 2rem;
  text-decoration: underline;
}
p.description {
  font-size: 1.6rem;
  margin: 1rem 0;
  text-transform: capitalize;
}
.project .project-details p span {
  position: relative;
  padding: 1rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  cursor: pointer;
}
.project .project-details p span::before {
  content: "#";
  color: attr(data-color);
}
.btn-group {
  margin-top: 1rem;
}
.btn-group button {
  padding: 1rem;
  background-image: linear-gradient(145deg, var(--primary), var(--secondary));
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  flex: 1 1 25rem;
}
.btn-group button a {
  text-transform: capitalize;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: inherit;
}
.contact-form h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
/* contact section */
.contact-me {
  padding: 9rem 3rem;
}
.contact-me p {
  margin-bottom: 4rem;
}
.contact-area {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.contact-area > div {
  flex: 1 1 35rem;
}
.contact-link,
.contact-form {
  outline: 0.5rem dashed var(--light-gray);
  padding: 3rem;
  border-radius: 3rem;
}
.contact-link:hover,
.contact-form:hover {
  outline-color: var(--primary);
}
.contact-link .contact-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
}
.contact-info:not(:last-child) {
  margin-bottom: 3rem;
}
.contact-link .contact-info .icon {
  width: 5rem;
  height: 5rem;
}
.contact-info .contact-text {
  color: var(--light-gray);
  text-align-last: left;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.contact-info .contact-text p {
  margin-left: 2rem;
  margin-top: 1rem;
}
.contact-info .contact-text p a {
  text-transform: lowercase;
}
.form-area form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.form-area .input-area {
  flex: 1 1 25rem;
  height: 5rem;
}
.form-area .text-area,
.submit-btn {
  flex: 1 1 100%;
}
textarea {
  width: 100%;
  border-radius: 1rem;
  background-color: transparent;
  border: 0.3rem dashed var(--light-gray);
  padding: 1rem;
  font-family: sans-serif;
}
.submit-btn button {
  cursor: pointer;
  width: 100%;
  height: 5rem;
  background-color: var(--light-gray);
  border-radius: 3rem;
}
.submit-btn button.active {
  background-color: var(--primary);
}
.input-area input {
  font-size: 1.8rem;
  border: 0.3rem dashed var(--light-gray);
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 4rem;
  background-color: transparent;
}
input:focus {
  border-color: var(--primary);
}
::placeholder {
  color: var(--primary);
}

/* media query for large screen laptop */

@media screen and (max-width: 1200px) {
  .hero-page .hero-text {
    max-width: 55%;
  }
  .hero-page .hero-image {
    max-width: 30%;
  }
  .project {
    flex: 1 1 35rem;
  }
  .contact-area > div {
    flex: 1 1 50rem;
  }
  .contact-form .input-area {
    flex: 1 1 30rem;
  }
}

/*media query for mobile  */
@media screen and (max-width: 750px) {
  .menu {
    display: block;
  }
  header .logo {
    font-size: 3rem;
  }
  .logo::before {
    width: 13rem;
    height: 13rem;
  }
  .hero-page {
    justify-content: flex-start;
  }
  .hero-page .hero-text {
    max-width: 100%;
  }
  .hero-image {
    order: -1;
    min-height: 45rem;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
  .hero-text p {
    font-size: 1.6rem;
  }
  .project {
    flex: 1 1 30rem;
  }
  .hero-bubble {
    scale: 0.6;
  }
  .contact-area > div {
    flex: 1 1 20rem;
  }
  .contact-link .contact-info .icon {
    width: 4rem;
    height: 4rem;
  }
  .contact-info .contact-text {
    font-size: 1.2rem;
  }
  .contact-form h3 {
    font-size: 2rem;
  }
  header nav {
    position: fixed;
    top: -1000px;
    transition: 300ms;
    left: 0;
    z-index: 2;
  }
  nav.active {
    top: 0;
  }
  header nav ul {
    display: block;
    width: 70vw;
    height: 100vh;
    background-color: var(--dark-gray);
    counter-reset: no;
    overflow: auto;
    padding: 2rem;
  }
  header nav ul li a {
    white-space: nowrap;
    padding: 2rem;
    position: relative;
    font-size: 5rem;
    color: var(--light-gray);
    transition: 400ms;
    color: #fff;
    width: 100%;
  }
  header nav ul li a::before {
    content: counter(no) ".";
    counter-increment: no;
    margin-right: 2rem;
    color: var(--color);
  }
  header nav ul li a::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color);
    position: absolute;
    left: 0;
  }
  header nav.active ul li a::after {
    animation: width 1s linear forwards;
    animation-delay: var(--delay);
  }
  @keyframes width {
    100% {
      width: 5%;
      left: 100%;
    }
  }
  header nav ul li a:hover {
    color: var(--color);
  }
  .contact-area > div {
    flex: 1 1 50rem;
  }
  .contact-area .input-area {
    flex: 1 1 30rem;
  }
}
.menu {
  cursor: pointer;
}
@media screen and (max-width: 1080px) {
  .hero-page .hero-text {
    max-width: 100%;
  }
  .hero-page .hero-image {
    max-width: 100%;
    min-height: 50rem;
  }
}

/* bg animation */

.bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  overflow: hidden;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  z-index: -1;
}
.bg span {
  position: relative;
  display: inline-block;
  transform-origin: center;
  height: clamp(2rem, 5vw, 5rem);
  width: clamp(2rem, 5vw, 5rem);
  transition: all 600ms ease;
  animation: opacity infinite 3s linear alternate;
}
.bg span:nth-child(odd) {
  animation-delay: -5s;
}
.bg span:nth-child(even) {
  animation-delay: -10s;
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: translate3d(-50px, -50px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate3d(50px, 50px, 30px);
  }
}
@media screen and (max-width: 300px) {
  .contact-link {
    padding: 1.5rem;
  }
  .contact-link .contact-info {
    gap: 1.5rem;
  }
}

/* loader styling  */

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: hsl(223, 90%, 95%);
}
.pl,
.pl__ball,
.pl__ball-inner-shadow,
.pl__ball-side-shadows,
.pl__ball-texture,
.pl__inner-ring,
.pl__outer-ring,
.pl__track-cover {
  border-radius: 50%;
}
.pl {
  position: relative;
  width: 16em;
  height: 16em;
}
.pl__ball,
.pl__ball-inner-shadow,
.pl__ball-outer-shadow,
.pl__ball-side-shadows,
.pl__ball-texture,
.pl__ball-texture:before,
.pl__inner-ring,
.pl__outer-ring,
.pl__track-cover {
  position: absolute;
}
.pl__ball,
.pl__ball-inner-shadow,
.pl__ball-outer-shadow,
.pl__ball-texture:before,
.pl__track-cover {
  animation: ball 3s linear infinite;
}
.pl__ball {
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
  transform: rotate(0) translateY(-6.5em);
  width: 2.5em;
  height: 2.5em;
}
.pl__ball-inner-shadow {
  animation-name: ballInnerShadow;
  box-shadow: 0 0.1em 0.2em hsla(0, 0%, 0%, 0.3),
    0 0 0.2em hsla(0, 0%, 0%, 0.1) inset,
    0 -1em 0.5em hsla(0, 0%, 0%, 0.15) inset;
  width: 100%;
  height: 100%;
}
.pl__ball-outer-shadow {
  animation-name: ballOuterShadow;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.15), hsla(0, 0%, 0%, 0));
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  filter: blur(2px);
  top: 50%;
  left: 0;
  width: 100%;
  height: 250%;
  transform: rotate(20deg);
  transform-origin: 50% 0;
  z-index: -2;
}
.pl__ball-side-shadows {
  background-color: hsla(0, 0%, 0%, 0.1);
  filter: blur(2px);
  width: 100%;
  height: 100%;
  transform: scale(0.75, 1.1);
  z-index: -1;
}
.pl__ball-texture {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.pl__ball-texture:before {
  animation-name: ballTexture;
  animation-duration: 0.25s;
  background: url("https://blogger.googleusercontent.com/img/a/AVvXsEiLbRl4il0vp26ghBcIYh0DTi86ILtYs8z6m-hqNA4IcHArQ0bUFSOrQwigdWw2hrCrQYFuJjcoto-ANxwFZKJZzC_9mNk2e4xN_1D5IuUW1G6AlicSO4r1t69wb0__V-dUDRiNYjn4jsrLvvspjq009hdNyPbkx-mRsw5_05zHn0ja8nZS8nvNiOuO1-2_")
    0 0 / 50% 100%;
  content: "";
  display: block;
  filter: brightness(1.05);
  top: 0;
  right: 0;
  width: 200%;
  height: 100%;
}
.pl__inner-ring {
  box-shadow: 0 -0.25em 0.5em hsla(0, 0%, 100%, 0.4),
    0 0.5em 0.75em hsla(0, 0%, 100%, 0.4) inset,
    0 0.5em 0.375em hsla(0, 0%, 0%, 0.15),
    0 -0.5em 0.75em hsla(0, 0%, 0%, 0.15) inset;
  top: 2.375em;
  left: 2.375em;
  width: calc(100% - 4.75em);
  height: calc(100% - 4.75em);
}
.pl__outer-ring {
  box-shadow: 0 -0.45em 0.375em hsla(0, 0%, 0%, 0.15),
    0 0.5em 0.75em hsla(0, 0%, 0%, 0.15) inset,
    0 0.25em 0.5em hsla(0, 0%, 100%, 0.4),
    0 -0.5em 0.75em hsla(0, 0%, 100%, 0.4) inset;
  top: 0.75em;
  left: 0.75em;
  width: calc(100% - 1.5em);
  height: calc(100% - 1.5em);
}
.pl__track-cover {
  animation-name: trackCover;
  background-image: conic-gradient(
    hsla(223, 90%, 95%, 1) 210deg,
    hsla(223, 90%, 95%, 0) 270deg
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Animations */
@keyframes ball {
  from {
    transform: rotate(0) translateY(-6.5em);
  }
  50% {
    transform: rotate(180deg) translateY(-6em);
  }
  to {
    transform: rotate(360deg) translateY(-6.5em);
  }
}
@keyframes ballInnerShadow {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes ballOuterShadow {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-340deg);
  }
}
@keyframes ballTexture {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
@keyframes trackCover {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
