@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--light);
  transition: all 300ms ease;
  border: none;
  outline: none;
}
:root {
  --primary: hsl(330, 91%, 34%);
  --light-primary: hsl(330, 91%, 49%);
  --secondary: hsl(283, 100%, 27%);
  --light-secondary: hsl(283, 100%, 50%);
  --dark-gray: hsl(0, 0%, 11%);
  --light-gray: hsl(0, 0%, 41%);
  --light: hsl(0, 0%, 100%);
}
/* custom scrollbar  */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 2rem;
}
::-webkit-scrollbar-track {
  background-color: var(--dark-gray);
}
body {
  background-color: var(--dark-gray);
  font-family: "Source Sans Pro", sans-serif;
}
html {
  font-size: clamp(6px, 8px, 12px);
  scroll-behavior: smooth;
}
a:active,
a:hover {
  color: var(--primary);
}
.theme-text {
  color: var(--primary);
}
/* header styling  */

.container {
  max-width: 1600px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
header.active {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(1rem);
  width: 100%;
  z-index: 99;
}
header .logo {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  position: relative;
}
.logo::before {
  content: "";
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  transform: translate(-4.8rem, -5.5rem);
  z-index: -1;
  border-radius: 51% 89% 46% 54%;
  background-size: cover;
}
section:not(:first-child){
  padding-top: 10rem;
}
header nav ul {
  display: flex;
  gap: 4rem;
  font-size: 2rem;
}
header nav ul li a {
  display: inline-block;
  transition: all 300ms ease;
  position: relative;
  font-weight: 700;
}

/* hero section  */
.hero-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 5rem;
  place-items: center;
  gap: 2rem;
  position: relative;
  min-height: calc(100vh - 85px);
}
.hero-text h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
.hero-text p {
  font-size: 2rem;
  margin-top: 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 400;
  background-color: var(--primary);
  margin-top: 2rem;
  border-radius: 3rem;
  box-shadow: 0 0 0 2px var(--primary), 0 -1px 0 2px var(--secondary);
}
.btn:hover {
  color: var(--light);
  background-color: unset;
}
.hero-image,
.hero-bubble {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-radius: 44% 56% 64% 36% / 73% 72% 28% 27%;
  animation: radius infinite 10s ease alternate;
  background-size: cover;
  height: 45rem;
  width: 80%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.hero-bubble {
  position: absolute;
  bottom: -30%;
  z-index: -2;
  left: 5rem;
  width: 40rem;
  height: 30rem;
  opacity: 0.6;
  rotate: 34deg;
}
.hero-image::before,
.hero-bubble::before {
  content: "";
  position: absolute;
  top: 20%;
  right: 8%;
  z-index: -1;
  rotate: 20deg;
  border-radius: 44% 56% 64% 36% / 73% 72% 28% 27%;
  width: 5rem;
  height: 5rem;
  background-color: var(--primary);
  border: 2rem solid var(--dark-gray);
}
.hero-image::after,
.hero-bubble::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 20%;
  left: -2%;
  rotate: 120deg;
  border-radius: 44% 56% 64% 36% / 73% 72% 28% 27%;
  width: 5rem;
  height: 5rem;
  background-color: var(--secondary);
  border: 2rem solid var(--dark-gray);
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(2rem);
  margin-left: 10%;
}

/* my services  */
.hero-services,
.portfolio {
  text-align: center;
  position: relative;
  min-height: calc(100vh - 85px);
}
.hero-services .hero-text h1,
.portfolio .hero-text h1 {
  font-weight: 400;
  text-decoration: underline;
  font-variant: small-caps;
  text-transform: unset;
}
.hero-services .my-services {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-around;
  align-items: center;
}
.hero-services .my-services .service {
  flex: 1 1 25rem;
  text-align: center;
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--light-gray);
  backdrop-filter: blur(1rem);
}
.service > div:not(:last-child) {
  margin-bottom: 2.4rem;
}
.service .icon {
  transition-delay: 400ms;
  width: 10rem;
  height: 10rem;
}
.service:hover {
  background-color: var(--light-primary);
  color: var(--light-secondary);
}
.service:hover .icon {
  margin-left: auto;
}
.service h2 {
  font-size: 2.4rem;
  color: var(--light-primary);
}
.service:hover h2 {
  color: var(--light);
}
.service p {
  font-size: 1.6rem;
  margin-top: -1rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}
.hero-services .hero-bubble {
  rotate: -180deg;
  right: 0;
  left: 65%;
  bottom: -15rem;
  scale: 0.6;
  opacity: 0.3;
  background-image: radial-gradient(
    var(--light-primary) 30%,
    var(--light-secondary)
  );
}
/* project section */
.projects {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.project {
  flex: 0 1 45rem;
  overflow: hidden;
  width: 25rem;
  height: 25rem;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(45deg, var(--primary), var(--secondary));
  border-radius: 1rem;
}
.project .project-image {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project .project-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.project:hover .project-image {
  transform: translateY(-100%);
}
.project:hover .project-details {
  transform: translateY(0);
  padding: 2rem;
  position: relative;
}
.project .project-details h3 {
  font-size: 2rem;
  text-decoration: underline;
}
p.description{
  font-size: 1.6rem;
  margin: 1rem 0;
  text-transform: capitalize;
}
.project .project-details p span {
  position: relative;
  display: inline;
  padding: 1rem;
  font-size: 1.6rem;
}
.project .project-details p span::before {
  content: "#";
  color: attr(data-color);
}
.btn-group {
  margin-top:1rem;
 
}
.btn-group button {
  padding: 1rem;
  background-image: linear-gradient(145deg, var(--primary), var(--secondary));
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  flex: 1 1 25rem;
}
.btn-group button a {
  text-transform: capitalize;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: inherit;
}
